*/.DS_Store
*/.ipynb_checkpoints
Gradient\ Descent\ Algorithm/.ipynb_checkpoints
Gradient\ Descent\ Algorithm/Multiple_Linear_Regression.ipynb
California\ Housing\ Price\ Prediction/.idea
California\ Housing\ Price\ Prediction/.ipynb_checkpoints
California\ Housing\ Price\ Prediction/.venv
California\ Housing\ Price\ Prediction/housing.csv
California\ Housing\ Price\ Prediction/app.py
California\ Housing\ Price\ Prediction/Images/.DS_Store
*/.idea
Breast\ Cancer\ Detection/data.csv
Book\ Recommendation\ System/Books.csv
Book\ Recommendation\ System/Ratings.csv
Book\ Recommendation\ System/Users.csv
.ipynb_checkpoints
.Rhistory